<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Thymeleaf Page</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <div>
            <h2>Użytkownicy</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Login</th>
                        <th>Rola</th>
                        <th>Aktywny</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.roles}"></td>
                        <td th:text="${user.active}"></td>
                        <td>
                            <a th:href="@{/showEditUserForm/{id}(id=${user.id})}">
                                <button>Edytuj</button>
                            </a>
                            <a th:href="@{/deleteUser/{id}(id=${user.id})}">
                                <button>Usuń</button>
                            </a>
                         </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <a href="/ProjektPAW/admin">Strona główna</a><br/>

    </body>
</html>
