<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload Image</title>
    <meta charset="UTF-8"/>
    <!-- Dodaj Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <style>
        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="my-5">Dodaj swój post</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form th:action="@{/uploadImage}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="imageFile">Select Image:</label>
                        <input type="file" class="form-control-file" id="imageFile" name="imageFile" accept="image/*" />
                    </div>
                    <div class="form-group">
                        <label for="title">Tytuł:</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Tytuł" />
                    </div>
                    <div class="form-group">
                        <label for="content">Treść:</label>
                        <textarea class="form-control" id="content" name="content" placeholder="Treść" rows="5" maxlength="255"></textarea>
                        <small id="charCount" class="form-text text-muted">0/255 characters</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Udostępnij</button>
                </form>
                <a th:href="@{/}" class="btn btn-secondary mt-3">Powrót</a>
            </div>
        </div>
    </div>

    <!-- Dodaj Bootstrap JS (Opcjonalnie, jeśli potrzebujesz funkcji JavaScript w Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        var contentTextarea = document.getElementById('content');
        var charCount = document.getElementById('charCount');

        contentTextarea.addEventListener('input', function () {
            var currentLength = contentTextarea.value.length;
            charCount.textContent = currentLength + '/255 characters';

            if (currentLength > 255) {
                contentTextarea.value = contentTextarea.value.substring(0, 255);
                charCount.textContent = '255/255 characters';
            }
        });
    </script>
</body>
</html>
